body{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1.8em;
    background-color: rgb(233, 230, 230);
    font-family: sans-serif;
    justify-content:center;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 8px;
    margin-left: 5px;
}
nav a:hover{
    background-color: grey;
}
#searchicon{
    margin-left: 50%;

}/*positions the search icon to the left of the navigation bar*/
